# Node modules
node_modules/
dist/
build/

# Upload files
backend/uploads/
uploads/

# Environment configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env

# IDE / System files
.DS_Store
.idea/
.vscode/
*.log
